<div class="pagina animacion">

    <h2 class="titulo-pagina mth">Modificar Página Home</h2>

    <div class="contenedor-modificar-facilidades">

        <div class="subcontenedor-modificar-facilidades">

            <form class="form-container-facilidad" [formGroup]="form">

                <mat-form-field appearance="outline" class="w-full descripcion-modificar-facilidades">
                    <mat-label>Descripción</mat-label>
                    <textarea matInput formControlName="descripcion"></textarea>
                </mat-form-field>

                <div class="contenedor-imagen-facilidad">

                    <h5>Imagen del Home</h5>

                    <div class="subcontenedor-imagen-facilidad">

                        <div *ngIf="imagenUrl" class="imagen-selecciona">
                            <img [src]="imagenUrl" alt="Imagen seleccionada"
                                style="max-width: 200px; object-fit: cover;" />
                        </div>

                        <mat-form-field appearance="outline" class="w-full input-imagen">
                            <mat-label class="label-input-imagen">Cambiar imagen (opcional)</mat-label>
                            <input matInput [value]="nombreArchivo || ''" disabled>
                            <button mat-icon-button matSuffix (click)="fileInput.click()" type="button">
                                <mat-icon>upload</mat-icon>
                            </button>
                        </mat-form-field>

                        <input class="miter" type="file" id="imagen" #fileInput (change)="onFileSelected($event)"
                            hidden />

                    </div>

                </div>

                <div class="contenedor-botones-formulario">
                    <button mat-flat-button class="actualizar-boton" type="button"
                        (click)="actualizar()">Actualizar</button>
                    <button mat-flat-button class="cancelar-boton" type="button" (click)="cancelar()">Cancelar</button>
                </div>

            </form>

        </div>

    </div>

</div>