<div class="pagina animacion">
  <h2 class="titulo-pagina mth">Actualizar Cómo llegar</h2>

  <div class="contenedor-como-llegar">
    <div class="subcontenedor-como-llegar">
      <form class="formulario-como-llegar" [formGroup]="formularioComoLlegar">
        <mat-form-field appearance="outline" class="w-full descripcion-como-llegar">
          <mat-label>Descripción</mat-label>
          <textarea
            matInput
            formControlName="descripcion"
            rows="5"
            placeholder="Escribe cómo llegar aquí..."
          ></textarea>
        </mat-form-field>

        <div class="contenedor-botones-como-llegar">
          <button mat-flat-button class="actualizar-boton" type="button" (click)="actualizarInformacion()">
            Actualizar
          </button>
          <button mat-flat-button class="cancelar-boton" type="button" (click)="cancelar()">
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
