/* Estilos para el formulario Como Llegar */
.contenedor-como-llegar {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
  width: 100%;
}

.subcontenedor-como-llegar {
  width: 100%;
  max-width: 1000px;
}

.formulario-como-llegar {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.descripcion-como-llegar {
  width: 100%;
}

.contenedor-botones-como-llegar {
  width: 100%;
  max-width: 230px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  align-self: flex-end;
}