.contenedor-adiministrar-publicidad{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.subcontenedor-administrar-publicidad{
  width: 100%;
  max-width: 1000px;
}

.imagen-tabla-publicidad{
  width: 50px;
  border-radius: 15px;
  margin: 10px;
}

.enlace-sin-linea {
  text-decoration: none;
  color: #007bff; 
}

.enlace-sin-linea:hover {
  text-decoration: underline;
}

.botones-acciones {
  display: flex;
  gap: 8px;
  align-items: center;
}

.publicidad-btn-contenedor{
  margin-bottom: 20px;
}