<div class="pagina_logueo">
    <div class="contenedor_logueo">
        <div class="contenedor_imagen_logo">
            <img src="JADE.png" alt="logo-hotel-jade">
        </div>
        <div class="contenedor_formulario_logueo">
            <h2>Hotel JADE</h2>
            <form (submit)="logginPrueba()"[formGroup]="formulario">
                <div class="input_contenedor_logueo">
                    <label for="">Usuario</label>
                    <input type="text" [formControl]="formulario.controls.user">
                </div>

                <div class="input_contenedor_logueo">
                    <label for="">Contraseña</label>
                    <input type="password" [formControl]="formulario.controls.password">
                </div>

                <button type="submit" class="btn_amarillo">Iniciar Sesión</button>

                <div class="mensaje" style="min-height: 20px;"></div>
               
            </form>

            <p class="derechos_logueo">Copyright © 2025 Hotel JADE.</p>
        </div>
    </div>
</div>

