<h2 class="titulo-pagina mth">Modificar Oferta</h2>

<div *ngIf="oferta" class="contenedor-modificar-facilidades">

    <div class="subcontenedor-modificar-facilidades">

        <form [formGroup]="ofertaForm" class="form-container-facilidad">

            <div class="contenedor-doble-formulario">

                <mat-form-field appearance="outline" class="w-full descripcion-modificar-facilidades">
                    <mat-label>Nombre de la oferta</mat-label>
                    <input matInput formControlName="nombre">
                    <mat-error *ngIf="ofertaForm.get('nombre')?.hasError('required')">
                        El nombre es requerido
                    </mat-error>
                </mat-form-field>


                <mat-form-field appearance="outline">
                    <mat-label>Porcentaje de descuento</mat-label>
                    <input matInput formControlName="porcentaje" min="0" max="100">
                    <mat-icon matSuffix>percent</mat-icon>
                </mat-form-field>

            </div>

            <div class="contenedor-doble-formulario">
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Fecha Inicio</mat-label>
                    <input matInput [matDatepicker]="pickerLlegada" formControlName="fechaInicio">
                    <mat-datepicker-toggle matIconSuffix [for]="pickerLlegada">
                        <mat-icon matDatepickerToggleIcon>calendar_month</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #pickerLlegada></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Fecha Final</mat-label>
                    <input matInput [matDatepicker]="pickerFinal" formControlName="fechaFinal">
                    <mat-datepicker-toggle matIconSuffix [for]="pickerFinal">
                        <mat-icon matDatepickerToggleIcon>calendar_month</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #pickerFinal></mat-datepicker>
                </mat-form-field>
            </div>


            <mat-form-field appearance="outline" class="w-full select-modificar-facilidades">
                <mat-label>Tipo de habitación</mat-label>
                <mat-select formControlName="tipoDeHabitacion">
                    <mat-option *ngFor="let habitacion of listaTipoDeHabitaciones"
                        [value]="habitacion.idTipoDeHabitacion">
                        {{ habitacion.nombre }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div class="contenedor-imagen-facilidad">

                <h5>Imagen de la Oferta</h5>
                <div class="subcontenedor-imagen-facilidad">

                    <div *ngIf="imagenUrl" class="imagen-selecciona">
                        <img [src]="imagenUrl" alt="Imagen seleccionada" style="max-width: 200px; object-fit: cover;" />
                    </div>

                    <mat-form-field appearance="outline" class="w-full input-imagen">
                        <mat-label class="label-input-imagen">Cambiar imagen (opcional)</mat-label>
                        <input matInput [value]="nombreArchivo || ''" disabled>
                        <button mat-icon-button matSuffix (click)="fileInput.click()" type="button">
                            <mat-icon>upload</mat-icon>
                        </button>
                    </mat-form-field>

                    <input class="miter" type="file" id="imagen" #fileInput (change)="onFileSelected($event)" hidden />

                </div>
            </div>

            <div class="contenedor-botones-formulario">
                <button mat-flat-button class="actualizar-boton" type="button" (click)="guardarCambios()">
                    Guardar cambios
                </button>
                <button mat-flat-button class="cancelar-boton" type="button" (click)="cerrarFormulario()">
                    Cancelar
                </button>
            </div>
        </form>

    </div>
</div>