<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="footer-section">
          <div class="footer-logo">Hotel JADE</div>
          <p class="footer-about">Dedicados a brindar una experiencia inolvidable a nuestros huéspedes. Nuestra misión es ofrecer hospitalidad de calidad con un enfoque cálido, moderno e innovador.</p>
          
        </div>
        
        <div class="footer-section">
          
        </div>
        
        <div class="footer-section">
          
        </div>
        
        <div class="footer-section especial-para-redeseeeeee">
          <h5>Nuestras redes</h5>
          <p class="footer-about">Síguenos en nuestras redes sociales.</p>
          <div class="social-links">
            <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-youtube"></i></a>
            <a href="#" class="social-icon whatsapp"><i class="fab fa-whatsapp"></i></a>
          </div>
        </div>
      </div>
      
      <div class="footer-bottom">
        <ul class="footer-bottom-links">
          <li><a href="#">Política de Privacidad</a></li>
          <li><a href="#">Términos de Servicio</a></li>
          <li><a href="#">Política de Cookies</a></li>
        </ul>
        <p>© 2025 HotelJADE - Todos los derechos reservados.</p>
      </div>
    </div>
  </footer>