<footer class="footer-principal">

    <div class="footer-principal-contacto">
        <div class="footer-principal-contacto-logo">
            <img src="JADEico.png" alt="">
        </div>

        <div class="footer-principal-contacto-redes">
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-square-facebook"></i></a>
            <a href=""><i class="fa-brands fa-square-whatsapp"></i></a>
        </div>
    </div>

    <hr class="divisor-footer">
    <div class="footer-principal-derechos">
     
        <p>Copyright©Hotel JADE 2025</p>
        <a href="">Política de Privacidad</a>
    </div>

</footer>
