
.sidebar{
    
    padding: 8px;
    border-radius: 15px;
   display: flex;
   flex-direction: column;

   margin-bottom: 20px;

   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  

  
}



a{
  text-decoration: none;


}

  
.nav__link{
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: .75rem;
    padding: .75rem;
    padding: .50rem .75rem;
    color: var(--text-color);
    border-radius: .5rem;
    /* margin-bottom: 1rem; */
    margin-bottom: 5px ;
    transition: .3s;
    cursor: pointer;
}
  
 
  
  .nav__link:hover{
    background: linear-gradient(135deg, #00c1e2, #00eaf2, #00fafd);
    background: linear-gradient(to right, #2c3e50, #2c3e50);
    color: #ebf5fe;
  }
  .nav__icon{
    font-size: 1.25rem;
  }
  .nav__name{
    font-size: var(--small-font-size);
    max-width: 250px; /* Ajusta este valor según el espacio que deseas */
    word-wrap: break-word; /* Permite que el texto se divida cuando sea necesario */
    overflow-wrap: break-word; /* Asegura que el texto largo se ajuste */
  }
  
 







/*Para lista de opciones collapse *********************************************/
  
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}



/*===== COLLAPSE =====*/

.nav__link_collapse{
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: .75rem;
  padding: .75rem;
  color: var(--text-color);
  border-radius: .5rem;
  margin-bottom: 1rem;
  margin-bottom: 5px;
  transition: .3s;
  cursor: pointer;
}

.collapse{
  grid-template-columns: 20px max-content 1fr;
  width: 100%;
}
.collapse__link{
  justify-self: flex-end;
  transition: .5s;
}

/*
.collapse__menu{
  display: none;
  padding: 10px 2.25rem  25px 0px;
  margin-bottom: -30px;
}
*/

.collapse__menu {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.collapse__menu.showCollapse {
  max-height: 500px; 
  opacity: 1;
  padding-top: 1em;
  visibility: visible;
}
/* Ajusta si tienes más contenido */

.collapse__sublink{
  color: var(--text-color);/*2025*/
  font-size: var(--small-font-size);
  font-size: 12px;
  width: 180px;
  margin: 1px 0;
}
.collapse__sublink:hover{
  color: white;
}

.espacio-norma {
  display: block; /* Para que esté en una nueva línea */
  margin-top: 8px; /* Ajusta según el espacio que desees */
  color: inherit; /* Hereda el color del enlace para que sea visible */
}

/*Show collapse*/
/*
.showCollapse{
  display: flex;
  flex-direction: column;
}
*/
/*Rotate icon*/
.rotate{
  transform: rotate(180deg);
}








/*Active links menu*/
.active {
    background: linear-gradient(135deg, #00c1e2, #00ebf6);
    background: linear-gradient(to right, #394e63, #34495e);
    color: white;
}
