<div class="pagina animacion">

  <h2 class="titulo-pagina mth">Administrar habitaciones</h2>

  <div class="contenedor-adiministrar-habitacion">

    <div class="subcontenedor-administrar-habitacion">


      <mat-form-field appearance="outline" class="select-tipo-habitacion select-modificar-tipo-habitacion">
        <mat-label>Seleccionar tipo de habitación</mat-label>
        <mat-select (selectionChange)="onSelectTipoHabitacion($event.value)">
          <mat-option *ngFor="let habitacion of listaTipoDeHabitaciones" [value]="habitacion.idTipoDeHabitacion">
            {{ habitacion.idTipoDeHabitacion }} - {{ habitacion.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="contanedor-tabla">

        <table mat-table [dataSource]="listaHabitacionesFiltradas" class="w-full">

          <!-- Número de Habitación -->
          <ng-container matColumnDef="numerohabitacion">
            <th mat-header-cell *matHeaderCellDef> Número de Habitación </th>
            <td mat-cell *matCellDef="let element"> {{ element.numero }} </td>
          </ng-container>

          <!-- Estado con mat-slide-toggle -->
          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> Estado </th>
            <td mat-cell *matCellDef="let element">
              <mat-slide-toggle
                [(ngModel)]="estadoSwitch[element.idHabitacion]"
                (change)="onToggleDisponibilidad(element.idHabitacion, $event.checked)">
              </mat-slide-toggle>
            </td>
          </ng-container>

          <!-- Encabezados y filas -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          
        </table>

        <!-- Paginador -->
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" 
                      showFirstLastButtons
                      aria-label="Seleccionar página">
        </mat-paginator>

      </div>

    </div>

  </div>

</div>
